<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abdussatter.zakat_calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <queries>
        <package android:name="com.google.android.youtube" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZakatCalculator">
        <activity
            android:name=".ZakatOweMasalaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatMasalaActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatProhibitedActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatGiveActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatFaradActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatFreeAssetActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatableAssetActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatPunishmentActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatImportanceActivity"
            android:exported="false" />
        <activity
            android:name=".ZakatActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlaylist"
            android:exported="false" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_APP_ID" />
    </application>

</manifest>